.mr-auto{
  margin-left: 800px;
}
.ttitle{
  padding-left: 60px;
}
.pic{
  border: 1px solid black;
}
.pictitle{
  text-align: center;
}
.pic:hover{
  opacity: 0.5;
}
.youtube{
  text-align: center;
}
.fooder{
  text-align: center;
  background-image: url("./Component/img/ftr-bg.jpg");
  color:white;
}

a:link{
  color: white;
 
}
a:hover{
  color: burlywood;
}
li{
  list-style-type: none;
}